
/* Setting html and body section style*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;

}

#wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#wrapper2{
  height: 100%;
  display: flex;
  flex-direction: column;

}

#heading{
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}



/* Setting map to full height and giving bg color to it*/
#map { 
    height: 100%;
    background-color: rgb(241, 124, 124);
  }

  /* Setting styles for the info panel*/
  #panel {
    height: 100%;
    width: null;
    background-color: rgb(225, 229, 241);
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
  }

  .open {
    width: 250px;
  }

  .hero {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
  }

  .place,
  p {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
  }

  .details {
    color: rgb(88, 88, 88);
  }



  
